*

# Root files
!/Project.toml
!/SlateExtension.toml
!/README.md
!/LICENSE
!/.gitignore

# Directories
!/src/
!/notebooks/
!/assets/

# src/
!/src/GiacSlate.jl
!/src/grader.jl
!/src/inline_math.jl
!/src/laplace_lesson.jl
!/src/mathfield.jl

# notebooks/
!/notebooks/custom_controls.jl
!/notebooks/giac_intro.jl
!/notebooks/giac_tour.jl
!/notebooks/laplace_lesson.jl

# assets/
!/assets/importmap.js
!/assets/inline_math_editor.js
!/assets/mathcode.js
!/assets/mathfield.js
